.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.app-header {
  background-color: #0a1a2d;
  color: #fff;
  width: 100%;
  margin-bottom: 20px;
}

.app-main {
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin: 0 auto;
}

.app-left-column {
  flex: 1;
  flex-basis: 35%;
  display: flex;
  align-items: center;
  align-self: flex-start;
}

.app-right-column {
  flex: 1;
  flex-basis: 65%;
  display: flex;
  flex-direction: column;
}

.app-block {
  padding: 20px;
  margin: 20px;
  background-color: #f2f2f2;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.app-contacts {
  color: white;
}

.app-contacts-list {
  text-align: start;
}

.app-about {
  color: #fff;
}

// ---------------------Menu--------------------------------
.menu-nav {
  display: flex;
  justify-content: center;
  column-gap: 20px;
}

a {
  color: azure;
}

.nav-button {
  display: none;
}

// --------------Page is not found-----------------------
.wrong-page {
  color: white;
  font-size: 30px;
  font-weight: 700;
}
// --------------------------Адаптив приложения---------------------------------
@media (max-width: 768px) {
  .app-main {
    width: 100%;
    flex-direction: column;
  }

  .app-left-column,
  .app-right-column {
    flex-basis: 100%;
    align-self: unset;
  }
}

@media (max-width: 360px) {
  .nav-button {
    display: block;
    margin-top: 10px;
    margin-left: 10px;
    margin-bottom: 5px;
  }
  .menu-nav {
    display: none;
  }

  .app-label {
    display: none;
  }

  .menu-nav.open {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    background-color: aliceblue;
    align-items: stretch;
  }
  a {
    color: black;
  }
}
